/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #fff;
	font-family: 'Montserrat', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
p {
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1440px;
	width: 85vw;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/** header **/
.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 135px;
	background: #F9F8F4;
	transition: all .2s;
}
.top-header.bisible {
	background: none;
}
.in {
	height: 100%;
	position: relative;
}
.head-logo {
	position: absolute;
	width: 183px;
	height: 48px;
	top: 40px;
	left: 80px;
	display: flex;
	align-items: flex-start;
}
.head-logo img {
	height: 100%;
}
.head-copy {
	position: absolute;
	top: 95px;
	left: 80px;
	color: #1C293F;
	font-size: 10px;
	font-weight: 600;
}
nav {
	height: 100%;
	padding-right: 60px;
}
nav ul {
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
nav ul li {
	padding: 0 10px;
	
}
nav ul li a {
	color: #191919;
	font-weight: 100;	
}
.toggle,
.toggle span {
  display: inline-block;
}
.toggle {
	position: fixed;
	top: 15px;
	right: 80px;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	cursor: pointer;
	z-index: 3;
	transition: all .2s;
	background: #1C293F;
}
.toggle.bisible {
}
.toggle:focus:not(:focus-visible) {
  outline: none;
}
.toggle span {
	position: absolute;
	width: 18px;
	height: 2px;
	background: #fff;
}
.toggle span:nth-of-type(1) {
	top: 18px;
	left: 15px;
	transform-origin: 0 0;
	animation: menu-bar01-close .2s forwards;
}
.toggle span:nth-of-type(2) {
	top: 23px;
	left: 15px;
	transition: .2s;
}
.toggle span:nth-of-type(3) {
	right: 15px;
	bottom: 18px;
	transform-origin: 100% 0;
	animation: menu-bar03-close .2s forwards;
}
.toggle.active span:nth-of-type(1) {
	animation: menu-bar01-open .4s forwards;
}
.toggle.active span:nth-of-type(2) {
	transform: rotate(-45deg);
	transition-delay: .2s;
}
.toggle.active span:nth-of-type(3) {
	animation: menu-bar03-open .4s forwards;
}
@keyframes menu-bar01-open {
	0% {
	  width: 100%;
	  transform: rotate(0deg) translate(0);
	}
}

  









.toggle.active span:nth-of-type(2)::after {
	transform: translateX(75%);
	opacity: 0;
}
.toggle.active span:nth-of-type(3)::before {
	transform: translate(4px, -7px) rotate(-45deg);
	background: #fff;
}
.toggle.active span:nth-of-type(3)::after {
	transform: translate(-3px, -7px) rotate(45deg);
	background: #fff;
}
.toggle-menu {
	position: fixed;
	top: 0;
	right: 0;
	padding: 50px 0 40px 0;
	text-align: center;
	width: 100%;
	height: 100vh;
	transform: translateX(-110%);
	transition: all 1s;
	background: #191919;
	z-index: 2;
	overflow: auto;
 -webkit-overflow-scrolling: touch;
}
.toggle-menu h3 {
	font-size: 64px;
	margin-bottom: 60px;
}
.toggle-menu ul {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 2rem;
}
.toggle-menu ul li {
	text-align: left;
	padding-bottom: 10px;
}
.toggle-menu ul li.heading {
	color: #5595aa;
}
.toggle-menu ul li a {
	color: #fff;
}
.toggle-menu.active {
	transform: translateX(0%);
}
@media screen and (max-width: 979px) {
	.top-header {
		height: 90px;
	}
	.top-header.bisible {
	}
	.head-logo {
		width: 200px;
		height: 56px;
	}
	nav {
		display: none;
	}
	.toggle {
		top: 34px;
	}
	.toggle-menu h3 {
		font-size: 60px;
	}
	.toggle-menu ul {
		width: 50%;
	}
	.toggle-menu ul li {
		font-size: 15px;
	}
}
@media screen and (max-width: 679px) {
	.top-header {
	}
	.top-header.bisible {
	}
	.head-logo {
		width: 170px;
		height: 30px;
	}
	.toggle {
		top: 15px;
	}
	.toggle-menu h3 {
		font-size: 42px;
		margin-bottom: 40px;
	}
	.toggle-menu {
		flex-direction: column;
	}
	.toggle-menu ul {
		width: 100%;
	}
	.toggle-menu ul li {
		font-size: 14px;
	}
}

/** main **/
main {
	width: 100%;
	background: hsl(214, 97%, 23%, 0.5);
}
.CategoryHeader {
	padding-top: 135px;
	width: 100%;
	height: 120vw;
	background: hsl(214, 97%, 23%, 0.1);
}
.TopicsTeaser {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.2);
}
.AboutusTeaser {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.3);
}
.CasestudyTeaser {
	width: 100%;
	height: 40vw;
	background: hsl(214, 97%, 23%, 0.4);
}

@media screen and (max-width: 979px) {
	.CategoryHeader {
		padding-top: 90px;
	}
}
@media screen and (max-width: 679px) {
	.CategoryHeader {
	}
}

/** footer **/
footer {
	width: 100%;
	height: 50vw;
	background: #037F8C;
}
